/.build/
/_build/
/Build
/Build.bat
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

cpanfile.snapshot

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

param_dummy.dat

/AI-Classifier-Japanese-*
